
.nav-link a i:hover {

  background-color: aqua;
  background-color: rgb(3, 3, 24);

}

.nav-link i {
 
  padding-right: 15px;
  font-size: 20px;

}

.nav-link:hover {

  color:rgb(168, 149, 99);

}


.fixed-sidebar {

  position: fixed;
  height: 100%;
  overflow-y: auto;
  
}

@media (min-width:575px) {

    .h-sm-100 {
      height:auto;
    }

    .data {
      display: none;
    }
}

@media (max-width: 768px) {
  .fixed-sidebar {
    position: static; 
    height: auto;
  }
}

 
 
 
